<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userConfigBean" class="com.springBoot.Bean.UsersConfig">
        <property name="name" value="john doe"/>
        <property name="className" value="ExampleClass"/>
    </bean>

    <bean id="userService" class = "com.springBoot.Service.UserService">
        <constructor-arg ref="userConfigBean"/>
    </bean>
    <bean id="orderService" class ="com.springBoot.Service.OrderService" factory-method="getInstance">
        <constructor-arg ref="userConfigBean"/>
        <constructor-arg ref="userService"/>
    </bean>
</beans>